.order-list-resp{
    background-color: #3F5D45;
    color: #fff;
}        
@media (max-width: 992px) {
    .order-list-resp{
        background-color: #fff;
        color: #3F5D45;
    }
}
@media (max-width: 992px) {
    .order-list-title-resp{
        background-color: #EAF0ED;
        
    }
}